.reviews-info {
    &__container {
        padding-top: size(17);
        padding-bottom: size(34);
        @include media(lg) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: size(32,113);
            padding-bottom: size(50,113);
            > div {
                width: 48%;
                &:last-child {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    > * {
                        width: 45%;
                    }
                }
            }
        }
        p {
            margin-top: size(5);
            @include media(lg) {
                margin-top: size(20,113);
            }
        }
        span {
            display: block;
            margin-top: size(25);
        }
    }
}