.reviews-reviews {
    &__container {
        padding-top: size(20);
        padding-bottom: size(60);
        > .btn {
            width: size(210,113);
            margin: 0 auto;
        }
        @include media(hg) {
            padding-top: 40px;
            padding-bottom: size(100,113);
            .swiper {
                &-navigation, &-pagination {
                    display: none;
                }
                &-wrapper {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 40px;
                }
                &-wrap {
                    margin-bottom: size(60,113);
                }
                &-slide {
                    width: auto !important;
                    margin: 0 !important;
                }
            }
        }
    }
}