<section class="reviews-reviews">
    <div class="reviews-reviews__container container">
        <div class="swiper-wrap">
            <div class="reviews-reviews__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/nopic.png" alt="no pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Анастасия</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">26 января 2022</span>
                            <p class="reviews__item-content">Огромное спасибо агентству Александра за успешно проведенную сделку по продаже нашего участка. На все возникающие вопросы получали ответы в полном объёме, качеством и сроками сотрудничества также удовлетворены. Желаю успехов всей команде в дальнейших...</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig1.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/review1.png" alt="review pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Екатерина</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">5 ноября 2021</span>
                            <p class="reviews__item-content">Остались очень благодарны и довольны работой Александра и его команды. Задание поставили не из легких. Сами находились на оккупированой территории, а ребята занимались продажей наших квартир в г. Королев. Причём мы не резиденты. Справились на отлично...</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig2.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/nopic.png" alt="no pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Наталья</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">18 декабря 2021</span>
                            <p class="reviews__item-content">Качественное и надежное сопровождение всех этапов сделки</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig3.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/nopic.png" alt="no pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Карина</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">16 октября 2021</span>
                            <p class="reviews__item-content">Добрый день, хотелось бы оставить отзыв о сотрудничестве с фирмой Водолазова, уже не первый раз обращаемся к Александру и хотелось бы поблагодарить его за быструю и качественную работу.</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig2.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/review2.png" alt="review pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Анна</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">11 октября 2021</span>
                            <p class="reviews__item-content">Хотела продать коммунальную комнату. Но не знала к кому обратиться. По отзывам обратилась к Александру, надеялась он возьмется за эту работу, но к сожалению на тот момент он был за пределами РФ и не мог лично заняться этим вопросом и предложил коллегу из его команды "Министерство Недвижимости". Хочу выразить...</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig3.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/nopic.png" alt="no pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Алёна</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">23 августа 2021</span>
                            <p class="reviews__item-content">Хотим выразить благодарность агенству "Министерство недвижимости" за их, действительно, профессиональную работу! Ни разу за время сотрудничества не пожалели, что выбрали именно эту компанию. Поддержка 24/7, безупречная организация работы, нацеленность на результат.</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig2.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/nopic.png" alt="no pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Анастасия</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">26 января 2022</span>
                            <p class="reviews__item-content">Огромное спасибо агентству Александра за успешно проведенную сделку по продаже нашего участка. На все возникающие вопросы получали ответы в полном объёме, качеством и сроками сотрудничества также удовлетворены. Желаю успехов всей команде в дальнейших проектах, буду Вас рекомендовать знакомым.</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig1.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/nopic.png" alt="no pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Наталья</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">18 декабря 2021</span>
                            <p class="reviews__item-content">Качественное и надежное сопровождение всех этапов сделки</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig1.png" alt="source logo image"/>
                        </div>
                    </div>
                    <div class="swiper-slide reviews__item">
                        <div class="reviews__item-wrapper">
                            <div class="reviews__item-header">
                                <div class="reviews__item-avatar"><img src="images/reviews/review1.png" alt="review pic"/></div>
                                <div class="reviews__item-name">
                                    <p>Екатерина</p>
                                    <span class="reviews__item-rating"><i></i><i></i><i></i><i></i><i></i></span>
                                </div>
                            </div>
                            <span class="reviews__item-date">5 ноября 2021</span>
                            <p class="reviews__item-content">Остались очень благодарны и довольны работой Александра и его команды. Задание поставили не из легких. Сами находились на оккупированой территории, а ребята занимались продажей наших квартир в г.Королев. Причём мы не резиденты. Справились на отлично. Удивили сроки. Работают качественно и ОЧЕНЬ быстро…</p>
                        </div>
                        <div class="reviews__item-footer">
                            <a href="#">Читать оригинал</a>
                            <img src="images/reviews/orig2.png" alt="source logo image"/>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <button class="swiper-navigation swiper-prev"></button>
                <button class="swiper-navigation swiper-next"></button>
            </div>
        </div>
        <a href="#" class="btn btn--secondary show@hg">Показать еще (6)</a>
    </div>
</section>