<section class="reviews-team">
    <div class="reviews-team__container container">
        <div class="review-team__info">
            <h3 class="title title--blue">Министерство <span>Недвижимости</span></h3>
            <p class="subtitle">— это уникальный продукт на рынке риэлторских услуг, созданный командой опытных специалистов, за плечами каждого из которых сотни успешных сделок, благодарных клиентов и безупречная репутация</p>
            <a href="about.html" class="btn btn--primary show@md">Познакомьтесь с командой</a>
        </div>
        <div class="reviews-team__image">
            <img src="images/reviews/image.png" alt="team image"/>
        </div>
        <a href="about.html" class="btn btn--primary hide@md">Познакомьтесь с командой</a>
    </div>
</section>