<footer class="footer">
    <div class="footer__container container">
        <div class="footer__lists"> <!-- lists only on home page -->
            <div class="footer__list">
                <p>Продажа</p>
                <div class="footer__list-items">
                    <div class="footer__list-item">
                        <span><a href="#">Продажа загородных домов и участков</a></span>
                        <span><a href="#">Продажа квартир в Москве и МО</a></span>
                        <span><a href="#">Обмен квартир в Москве и МО</a></span>
                        <span><a href="#">Продажа квартир в новостройке по переустепке прав</a></span>
                        <span><a href="#">Предоплата на период проживания квартиры</a></span>
                    </div>
                    <div class="footer__list-item">
                        <span><a href="#">Срочный выкуп квартир в Москве</a></span>
                        <span><a href="#">Продажа квартиры в залоге у банка</a></span>
                        <span><a href="#">Элитная недвижимость</a></span>
                        <span><a href="#">Услуги для строительных компаний</a></span>
                        <span><a href="#">Эксклюзивный договор на продажу квартиры</a></span>
                    </div>
                    <div class="footer__list-item">
                        <span><a href="#">Получите максимум за вашу квартиру</a></span>
                        <span><a href="#">Срочная и гарантированная продажа квартиры</a></span>
                        <span><a href="#">Предпродажная подготовка квартиры</a></span>    
                    </div>
                </div>
            </div>
            <div class="footer__list">
                <p>Покупка</p>
                <div class="footer__list-items">
                    <div class="footer__list-item">
                        <span><a href="#">Покупка квартиры в Москве и МО</a></span>
                        <span><a href="#">Ипотека</a></span>
                    </div>
                    <div class="footer__list-item">
                        <span><a href="#">Покупка квартиры в новостройках Москвы и Подмосковья</a></span>
                        <span><a href="#">Покупка загородного дома в Московской Области</a></span>
                    </div>
                    <div class="footer__list-item">
                        <span><a href="#">Юридическое сопровождение при покупке квартиры или дома</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__logo-wrapper">
                <a href="#" class="footer__logo"><img src="images/global/logo.svg" alt="logo image"/></a>
                <p class="m:hide m:show@lg">© 2018—2021 Правообладатель контента</p>
                <p class="m:hide m:show@lg"><a href="#">Политика конфиденциальности</a></p>
            </div>
            <div class="footer__contacts">
                <div class="footer__buttons">
                    <a href="#" class="btn btn--primary btn--xsmall btn--circle btn--icon"><img src="images/global/whatsapp-icon.svg" alt="whatsapp icon"></a>
                    <a href="#" class="btn btn--primary btn--xsmall btn--circle btn--icon"><img src="images/global/telegram-icon.svg" alt="telegram icon"></a>
                </div>
                <a href="tel:74957870767">+7 (495) 787-07-67</a>
                <a href="mailto:info@ministry.realty">info@ministry.realty</a>
                <a href="#" class="footer__link">Оставить заявку</a>
            </div>
            <ul class="footer__menu">
                <li><a href="#">Компания</a></li>
                <li class="has-submenu"><a href="#">Услуги</a><ul><li><a href="#">Продажа</a></li><li><a href="#">Покупка</a></li><li><a href="#">Юр. сопровождение</a></li></ul></li>
                <li><a href="#">Стоимость</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="footer__reviews">
                <div class="footer__review">
                    <a href="#"><img src="images/reviews/orig1.png" alt="review image"/></a>
                    <p><span>5,0</span>60 отзывов</p>
                </div>
                <div class="footer__review">
                    <a href="#"><img src="images/reviews/orig2.png" alt="review image"/></a>
                    <p><span>5,0</span>60 отзывов</p>
                </div>
                <div class="footer__review">
                    <a href="#"><img src="images/reviews/orig3.png" alt="review image"/></a>
                    <p><span>5,0</span>60 отзывов</p>
                </div>
            </div>
            <div class="footer__produced">
                <p>Разработано в студии</p>
                <img src="images/footer/produced.svg" alt="produced logo"/>
            </div>
            <div class="footer__copyright m:hide@lg">
                <p>© 2018—2021 Правообладатель контента</p>
                <p><a href="#">Политика конфиденциальности</a></p>
            </div>
        </div>
    </div>
</footer>
@@include("../popup/popup-application.html",{})
@@include("../popup/popup-message.html",{})
@@include("../popup/popup-video.html",{})