<header class="header header--home">
    <a href="#" class="header__logo"><img src="images/global/logo.svg" alt="logo image"/></a>
    <ul class="header__menu m:hide m:show@lg">
        <li><a href="#responsible">Компания</a></li>
        <li><a href="#services">Услуги</a></li>
        <li><a href="#calculate">Стоимость</a></li>
        <li><a href="#contacts">Контакты</a></li>
    </ul>
    <div class="header__right m:hide m:show@lg">
        <a href="#" class="btn btn--primary btn--circle btn--icon btn--xsmall"><img src="images/global/whatsapp-icon.svg" alt="whatsapp icon"></a>
        <a href="#" class="btn btn--primary btn--circle btn--icon btn--xsmall"><img src="images/global/telegram-icon.svg" alt="telegram icon"></a>
        <a href="tel:74957870767" class="header__phone">+7 (495) 787-07-67</a>
        <a href="#popupApplication" class="btn btn--primary btn--small popup-link">Оставить заявку</a>
    </div>
    @@include("../menu/menu-toggle.html",{})
</header>