<div id="menu-modal" class="menu-modal">
    <div class="menu-modal__wrapper">
        <a href="tel:+74957870767" class="menu-modal__phone">+7 (495) 787-07-67</a>
        <a href="#popupApplication" class="btn btn--primary btn--small popup-link">Оставить заявку</a>
        <ul>
            <li><a href="index.html">Компания</a></li>
            <li class="has-children">
                <a>Услуги</a>
                <ul>
                    <li><a href="index.html">Продажа</a></li>
                    <li><a href="index.html">Покупка</a></li>
                    <li><a href="index.html">Юридическое сопровождение</a></li>
                </ul>
            </li>
            <li><a href="index.html">Стоимость</a></li>
            <li><a href="index.html">Контакты</a></li>
        </ul>
    </div>
</div>