.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(10,17,40,.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    &__wrapper {
        width: 760px;
        max-width: 90%;
        max-height: 90%;
        position: relative;
        &--form {
            width: 560px;
            .popup__close {
                top: 20px;
                right: 20px;
            }
        }
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9;
    }
}