<div class="popup" id="popupMessage">
    <div class="popup__wrapper popup__wrapper--form">
        <button class="btn btn--secondary btn--circle btn--xsmall btn--icon popup__close"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41421 0L0 1.4L5.72757 7.07L0 12.74L1.41421 14.14L7.14178 8.47L12.7279 14L14.1421 12.6L8.55599 7.07L14.1421 1.54L12.7279 0.140001L7.14178 5.67L1.41421 0Z" fill="#1E48B5"/></svg></button>
        @@include("../custom/form2.html",{})
    </div>
</div>