.breadcrumbs {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: size(14);
    line-height: 1;
    padding-top: size(17);
    padding-bottom: size(17);
    li {
        margin-right: 26px;
        color: #b6b8bf;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: -16px;
            width: 4.3px;
            height: 4.3px;
            margin-top: -2.15px;
            background: $color-blue;
            transform: rotate(45deg);
        }
        &:last-child {
            color: $color-blue;
            margin-right: 0;
            &::after {
                display: none;
            }
        }
    }
}