<section class="price-info">
    <div class="price-info__container container">
        <h3 class="title">Стоимость услуг риэлтора</h3>
        <div class="price-info__paragraphs">
            <span>У потребителей накопилась усталость от непрозрачного, базарного или просто непонятного для них ценообразования на риэлторские услуги, наш результат использования этого калькулятора не банальное разводилово из серии "отлично, а теперь оставьте ваш номер телефона или email",</span>
            <span>которое уже реально выбешивает, а полноценное замещение профессиональной консультации специалиста, с конкретным фиксированным результатом. И только если вы захотите сами к нам обратиться, вы можете оставить запрос для консультации</span>
        </div>
        <div class="price-info__items">
            <div class="price-info__item">
                <div class="price-info__item-icon">
                    <img src="images/price/item1.svg" alt="price icon"/>
                </div>
                <p>Результат, полученный на калькуляторе, не разойдется с результатом, озвученным в офисе или по телефону</p>
            </div>
            <div class="price-info__item">
                <div class="price-info__item-icon">
                    <img src="images/price/item2.svg" alt="price icon"/>
                </div>
                <p>Мы не будем просить ваш номер телефона или e-mail, чтобы передать результаты</p>
            </div>
            <div class="price-info__item">
                <div class="price-info__item-icon">
                    <img src="images/price/item3.svg" alt="price icon"/>
                </div>
                <p>Это тоже самое, как полноценная консультация специалиста</p>
            </div>
        </div>
    </div>
</section>