<section class="brands" id="brands">
    <div class="brands__container container">
        <div class="swiper-wrap">
            <div class="brands__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide brands__item">
                        <div class="brands__item-sub">
                            <img src="images/brands/brand1.png" alt="brand image"/>
                        </div>
                        <div class="brands__item-sub">
                            <img src="images/brands/brand2.png" alt="brand image"/>
                        </div>
                    </div>
                    <div class="swiper-slide brands__item">
                        <div class="brands__item-sub">
                            <img src="images/brands/brand3.png" alt="brand image"/>
                        </div>
                        <div class="brands__item-sub">
                            <img src="images/brands/brand4.png" alt="brand image"/>
                        </div>
                    </div>
                    <div class="swiper-slide brands__item">
                        <div class="brands__item-sub">
                            <img src="images/brands/brand5.png" alt="brand image"/>
                        </div>
                        <div class="brands__item-sub">
                            <img src="images/brands/brand6.png" alt="brand image"/>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <button class="swiper-navigation swiper-prev"></button>
                <button class="swiper-navigation swiper-next"></button>
            </div>
        </div>
    </div>
</section>