<section class="calculate" id="calculate">
    <div class="calculate__info">
        <div class="calculate__container container">
            <div class="calculate__wrapper">
                <h3 class="title">Хотите <b>точно знать</b> стоимость услуг?</h3>
                <p class="subtitle">Воспользуйтесь нашим калькулятором:</p>
                <i>Мы не будем просить ваш номер телефона или e-mail, чтобы передать результаты</i>
                <ul>
                    <li>Это то же самое, как полноценная консультация специалиста</li>
                    <li>Полученный результат - абсолютно точный</li>
                    <li>В конце вы получите именно стоимость услуг</li>
                </ul>
                <a href="#" class="btn btn--primary">Рассчитать стоимость услуги</a>    
            </div>
        </div>    
    </div>
    <div class="calculate__picture">
        <div class="calculate__picture-container container">
            <div class="calculate__picture-wrapper">
                <img src="images/calculate/pic.png" alt="calculate picture"/>
                <img src="images/calculate/pic@xl.png" class="calculate__picture-item@xl" alt="calculate picture"/>
            </div>
        </div>
    </div>
</section>