<section class="contacts" id="contacts">
    <div class="contacts__container container">
        <address class="title">г. Москва, <b>Новый Арбат 21</b></address>
        <p class="contacts__info">Ежедневно c 10:00 до 19:00</p>
        <div class="contacts__info"><p>+7 (495)787-07-67 (Многоканальный)</p><div class="contacts__icons"><a href="#" class="btn btn--primary btn--circle btn--icon btn--xsmall"><img src="images/global/whatsapp-icon.svg" alt="whatsapp icon"/></a><a href="#" class="btn btn--primary btn--circle btn--icon btn--xsmall"><img src="images/global/telegram-icon.svg" alt="telegram icon"/></a></div></div>
        <p class="contacts__info"><a href="mailto:info@ministry.realty">info@ministry.realty</a></p>
        <div class="contacts__items">
            <div class="contacts__item">
                <span>Как нас найти:</span>
                <p>Очень просто. Из метро "Смоленская" (синяя ветка) только одинвыход. Двигайтесь прямо 400 метров по Садовому кольцу мимо отеля Lotte Plaza до пересечения с Новым Арбатом. Направо 50 метров мимо автосалона Hyundai и вы возле входа в бизнес-центр "Обновление Арбата" ("дом книжка"). На 3-м этаже вы можете получить пропуск и подняться на 16 этаж к нам в офис.</p>
            </div>
            <div class="contacts__item">
                <span>Где парковаться:</span>
                <p>В центр. Очень просто. Вдоль всего Нового Арбата обширная зона платной парковки. Места найдутся всегда.</p>
                <p>Из центра. Оптимальный вариант. Подземная парковка по адресу Новый Арбат д. 32. Это всего три минуты пешком по подземному переходу от входа в бизнес- центр "Обновление Арбата", где находится наш офис.</p>
            </div>    
        </div>
    </div>
</section>