<section id="main" class="main">
    <div class="main__video-overlay"></div>
    <video poster="images/home/preview.png" class="main__video" playsinline autoplay muted loop>
        <source src="files/video/bg.mp4" type="video/mp4">
    </video>
    <div class="main__container container">
        @@include("../base/header--home.html",{})
        <h1><span>Продажа и покупка </span><b>недвижимости </b>точно по расписанию</h1>
        <ul class="main__logos">
            <li class="tooltip-trigger"><img src="images/home/logo1.svg" alt="logo image"/><div class="tooltip"><div class="tooltip__wrapper"><span>Мы явлемяся членами Российской Гильдии Риэлторов</span><a href="https://rgr.ru">https://rgr.ru</a></div></div></li>
            <li class="tooltip-trigger"><img src="images/home/logo2.svg" alt="logo image"/><div class="tooltip"><div class="tooltip__wrapper"><span>Мы явлемяся членами Российской Гильдии Риэлторов</span><a href="https://rgr.ru">https://rgr.ru</a></div></div></li>
            <li class="tooltip-trigger"><img src="images/home/logo3.svg" alt="logo image"/><div class="tooltip"><div class="tooltip__wrapper"><span>Мы явлемяся членами Российской Гильдии Риэлторов</span><a href="https://rgr.ru">https://rgr.ru</a></div></div></li>
        </ul>
        <a href="https://wa.me/74957870767" class="main__whatsapp m:hide@lg"><img src="images/home/whatsapp.png" width="48" height="48" alt="whatsapp icon"/></a>
    </div>
</section>