<section class="responsible" id="responsible">
    <div class="responsible__container container">
        <h3 class="title title--blue">Личная ответственность за результат  – </h3>
        <p class="responsible__subheading subtitle">это один из ключевых принципов работы нашей компании</p>
        <div class="responsible__info m:hide m:show@md">
            <div class="responsible__signature">
                <img src="images/home/signature.svg" alt="signature"/>
            </div>
            <div class="responsible__info-content">
                <p>Более 10 лет я занимаюсь сделками с недвижимостью. Начинал свою карьеру стажером. Как агент провел более 500 сделок. Создал команду единомышленников и профессионалов. Поэтому я могу гарантировать – ваша сделка будет выгодной, безопасной и комфортной</p>
                <p class="responsible__info-author">С уважением, Александр Луизо</p>
            </div>
        </div>
        <p class="responsible__info m:hide@md">Более 10 лет я занимаюсь сделками с недвижимостью. Начинал свою карьеру стажером. Как агент провел более 500 сделок. Создал команду единомышленников и профессионалов. Поэтому я могу гарантировать – ваша сделка будет выгодной, безопасной и комфортной</p>
        <div class="responsible__image">
            <img src="images/home/responsible.png" class="m:hide@lg" alt="responsible image" width="236" height="384"/>
            <img src="images/home/responsible@lg.png" class="m:hide m:show@lg" alt="responsible image" />
            <div class="responsible__signature m:hide@md">
                <img src="images/home/signature.svg" alt="signature"/>
                <p>С уважением, Александр Луизо</p>
            </div>
        </div>
        <div class="responsible__wrapper">
            <div class="responsible__buttons">
                <a href="#popupMessage" class="btn btn--primary popup-link">Напишите мне</a>
                <a href="about.html" class="btn btn--secondary">Подробнее о компании</a>
            </div>
            <div class="responsible__video" data-popup-link="#popupVideo">
                <img src="images/home/video.png" alt="preview image"/>
            </div>    
        </div>
    </div>
</section>