<section class="services" id="services">
    <div class="services__container container">
        <div class="services__items">
            <div class="services__item">
                <a href="#" class="services__item-image"><img src="images/services/service1.png" alt="service image"/></a>
                <p class="services__item-title"><a href="#">Продажа</a></p>
                <a href="#" class="btn btn--primary btn--small services__item-button">Перейти в раздел</a>
            </div>
            <div class="services__item">
                <a href="#" class="services__item-image"><img src="images/services/service2.png" alt="service image"/></a>
                <p class="services__item-title"><a href="#">Покупка</a></p>
                <a href="#" class="btn btn--primary btn--small services__item-button">Перейти в раздел</a>
            </div> 
            <div class="services__item">
                <a href="#" class="services__item-image"><img src="images/services/service3.png" alt="service image"/></a>
                <p class="services__item-title"><a href="#">Юридическое сопровождение</a></p>
                <a href="#" class="btn btn--primary btn--small services__item-button">Перейти в раздел</a>
            </div> 
        </div>
        <a href="#" class="services__link"><span>Чем мы точно </span><br><i>не</i><span> занимаемся</span><img src="images/global/link.svg" alt="link icon"/></a>
    </div>
</section>